# ─────────────────────────────
# 🌐 Глобальне (усе в корені)
# ─────────────────────────────
.env
.env.*
*.env
*.log
*.sqlite3
*.sqlite3-journal

*.py[cod]
__pycache__/
*.db

# MacOS / Linux
.DS_Store
ehthumbs.db
Icon?
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Docker
**/db-data/
**/postgres-data/
**/staticfiles/
**/media/
**/__pycache__/
*.pid
docker-compose.override.yml

# Python
*.egg-info/
*.eggs/
*.coverage
.coverage.*
htmlcov/
dist/
venv/
build/
pip-wheel-metadata/

# Django
**/migrations/
**/static/
**/media/
**/venv/
**/node_modules/
core_service/state.json
core_service/formatted_results.json

# React / frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/.cache/
frontend/.env.local
frontend/.env.*.local

# Vite / npm
**/.cache/
**/dist/
**/.vite/
**/package-lock.json
**/yarn.lock

# Logs
*.log
*.out
*.err

# Testing
.tox/
.pytest_cache/
coverage.xml
nosetests.xml
test-results.xml
.cache/
junit/

# VSCode Debug / Workspace
*.code-workspace
*.history/
